html, body{
    background-color: #F0F0F0;
}

.header{
    font-family: 'Abril Fatface', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-weight: 600px;
    font-size: 70px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 5%;
    height: 100%;
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
    display: flex;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.content div{
    background-color: white;
    box-shadow: 1 1 1 1 grey;
}

